@import url("../fonts/stylesheet.css");
:root {
    --red: #b30000;
    --dark-gray: #202020;
    --gray: #515151;
    --light-gray: #636363;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'TT Firs Neue';
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
    color: var(--dark-gray);
    background-image: url(../img/back1.jpg);
}

.top-block-mobile,
.top-block-desktop {
    border-bottom: 2px solid #7c7c7c;
}


/* top navigation */

.top-block-desktop .nav .nav-link {
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.top-block-desktop .nav .nav-link:hover,
.top-block-desktop .nav .nav-link.active {
    color: var(--red);
}


/* footer */

#footer {
    background-image: url(../img/footer_back_el.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) center;
    /* background-size: contain; */
}


/* main page */

.production-main .nav-tabs {
    overflow-x: scroll;
}

.production-main .nav-tabs .tab-element {
    width: 200px;
}

.feedback-form {
    background-image: url(../img/niga.jpg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: calc(50% - 500px) bottom;
    background-size: contain;
}

.feedback-form .form-block {
    /* height: 400px; */
}


/* https://slideout.js.org/ */

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .feedback-form {
        background-image: none;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}